main {
  font-family: Arial, Helvetica, sans-serif;
  margin: 3%;
}

.App{
  padding: 3%;
}

.header {
  font-size: 20px;
  color: #FFFFFF;
  margin: 10px 20px;
  text-transform: uppercase;
}

.page-icon {
  width: 2em;
  margin-right: 2%;
}

.table-header {
  font-size: 1.3rem;
  color: #FFFFFF;
  margin: 30px 20px;
  text-transform: uppercase;
  display: inline-block;
}

.table-header-cont {
  text-align: center;
}

.resource-card {
  background: #419ea3 !important;
  box-shadow: 0px 9px 18px -6px rgba(0, 0, 0, 0.15) !important;
  border-radius: 20px !important;
}

/***TABLE***/

thead {
  border-bottom: 1px solid #E5E5E5;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
} 

.table-container {
  padding: 1% 3% 1% 3%;
  max-width: 1500px;
  min-width: 500px;
  min-height: 100px;
  width: 100%;
  margin: 15 auto 15px;
  overflow-x:auto !important;
  padding: 2%;
}

.min-select {
  width: 5.5em !important; 
}

.queue-table-header-cont {
  margin-top: 4%;
}

.text-left {
  text-align: left;
}

.full-width {
  margin-top: 3%;
  width: 95% !important;
}

.filter-cont {
  margin-bottom: 3%;
}

.filter-label {
  font-family: 'Montserrat-Regular';
  font-weight: 600;
  margin-right: 2%;
}

.table-columns {
  text-align: center;
  color: #FFFFFF;
  
}

.table-cell {
  text-align: center;
}

.dataset-header {
  color: #419ea3 ;
  margin-left: 1%;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.simulation-header {
  color: #419ea3;
  margin-top: 5% !important;
  margin-left: 1%;
  text-transform: uppercase;
  text-align: center;
}

table {
  width: 100% !important;
  text-align: left !important;
  color: #E5E5E5 !important;
}

.run-btn {
  margin: .5%;
  border: none;
  border-radius: 0.3em;
  background: #419ea3;
  color: #FFFFFF;
  font-size: 1.5rem;
}

.text-end {
  font-size: smaller;
  text-align: center;
  color: #419ea3;
  margin-right: 2%;
}

.close-btn {
  border: none;
  border-radius: 0.3em;
  background: #419ea3;
  color: #FFFFFF;
  font-size: 1.5rem;
  width: 10% !important;
  margin-left: 85%;
}

  /* Chrome, Safari, Edge, Opera */
.display-input::-webkit-outer-spin-button,
.display-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.display-input[type=number] {
  -moz-appearance: textfield;
}
